{% extends "base.html" %}
{% block title %}&Eacute;v&eacute;nements{% endblock %}
{% block content %}
{% for event in object_list %}
<div class="post">
<h2 class="title">{{event.title_event}}</h2>
<p class="date">{{ event.agenda_startdate|date:"d/m/y" }}</p>
<div class="entry">
{% autoescape off %} {{event.content}} {% endautoescape %}
<p class="links">
Lieux&nbsp;:&nbsp;<a class="comments" href="#">{{event.agenda_lieux}}</a><br/>
</p>
</div>
</div><br/>
{% empty %}
<div class="post">
<h2 class="title">Aucun &eacute;v&eacute;nement &agrave; afficher.</h2>
<div class="entry">
<p>Aucun &eacute;v&eacute;nement &agrave; afficher pour le moment.</p>
</div>
</div><br/>
{% endfor %}
<div>
{% if has_previous %}
<a href="{% url eventapp.views.list_agenda %}?page={{ previous }}">&laquo;&nbsp;pr&eacute;c&eacute;dent</a>
{% endif %}
{% if has_next %}
<a href="{% url eventapp.views.list_agenda %}?page={{ next }}">suivant&nbsp;&raquo;</a>
{% endif %}
</div>
{% endblock %}

