{% extends "base.html" %}
{% block title %}Quiz{% endblock %}
{% block content %}
{% for qz in object_list %}
<div class="post">
<h2 class="title">{{qz.quiz_title}}</h2>
<div class="entry">
{% autoescape off %}{{qz.quiz_description}}{% endautoescape %}
<p class="links">
<a class="comments" href="{% url quizapp.views.detail_quiz key=qz.key %}">Jouer !</a><br/>
</p>
</div>
</div><br/>
{% empty %}
<div class="post">
<h2 class="title">Aucun quiz &agrave; afficher.</h2>
<div class="entry">
<p>Aucun quiz &agrave; afficher pour le moment.</p>
</div>
</div><br/>
{% endfor %}
<div>
{% if has_previous %}
<a href="{% url quizapp.views.list_quiz %}?page={{ previous }}">&laquo;&nbsp;pr&eacute;c&eacute;dent</a>
{% endif %}
{% if has_next %}
<a href="{% url quizapp.views.list_quiz %}?page={{ next }}">suivant&nbsp;&raquo;</a>
{% endif %}
</div>
{% endblock %}

